/* --------------- BOARD MANAGEMENT --------------- */

.path-directory {
  font-size: 0.8rem;
}

.highlight {
  font-size: 2rem;
}

.board-management {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inline-block {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.previous-step, .hypothesis-input, .next-step {
  border-radius: 1rem;
  background-color: rgb(245, 245, 245);
  padding: 0.5rem;
  text-align: center;
  height: 8rem;
  margin-bottom: 1rem;
}

.hypothesis-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.button-with-checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -1rem;
}

.button-with-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.btn-filtre-base {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.btn-filtre {
  height: 3rem;
  width: 10rem;
  margin-top: 0.8rem;
}

.btn-filtre-checkbox {
  height: 3rem;
  width: 5rem;
}

/* -------------------------------------- */

/* --------------- TABLEAU --------------- */

h1 {
  font-size: 30px;
  margin: 20px 0;
}

.simulations-table {
  width: 95%;
  margin: 0 auto; /* Centrer le tableau */
  border-collapse: collapse;
}

.simulations-table th, .simulations-table td {
  border: 2px solid #fdfdfd;
  padding: 8px;
}

.simulations-table th {
  background-color: #024272;
  color: white;
}

.simulations-table td {
  text-align: center;
}

.simulations-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.simulations-table button {
  margin-right: 5px;
  cursor: pointer;
}

.simulations-table td {
  text-align: center;
  background-color: #d5deec;
  column-width: auto;
}


/* Classe pour surligner en orange */
.simulations-table .highlight-orange {
  background-color: orange;
  color: white;
}

.simulations-table .highlight-grey {
  background-color: grey;
  color: white;
}

.simulations-table .bordered {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
